@import '../../../styles/variables.scss';

.button {
  display: inline-block;
  padding: 10px 15px;

  font: inherit;
  color: white;

  background-color: $mainColor;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: $secondColor;
  }

  &:active {
    background-color: $activeColor;
  }
}
