.button {
  display: inline-block;
  padding: 10px 15px;

  font: inherit;
  color: white;

  background-color: black;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: bisque;
  }

  &:active {
    background-color: rgb(226, 202, 175);
  }
}
