.group {
  position: relative;

  display: flex;
  flex-direction: column;

  &__caption {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-bottom: 3px;

    border-bottom: 2px solid #ccc;
  }

  &__item {
    margin-bottom: 5px;
    cursor: pointer;
  }

  &__error {
    border-bottom: 2px solid rgba(255, 43, 43, 0.8);
  }

  &__errorMessage {
    position: absolute;
    top: 0;
    right: 5px;

    color: rgba(255, 43, 43, 0.8);
  }
}
